@font-face {
    font-family: black;
    src: url(Black-coffee-shadow.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: black;
}

body {
    background-color: azure;
}

.todo-container {
    max-width: 28rem;
    border: 1px solid black;
    margin: 3rem auto;
    padding-bottom: 2rem;
    background-color: white;
    border-radius: 15px;
    font-size: 1.2rem;
}

header {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

#todo-form,
#edit-form,
#todo-list {
    margin: .5rem 3rem;
}

#todo-form p,
#edit-form p {
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .3rem;
    width: 100%;
    padding: .5rem;
}

button {
    padding: .3rem .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    background-color: rgba(128, 128, 128, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(128, 128, 128, 0.6);
}

#cancel-edit-btn {
    margin-top: .3rem;
}

input::placeholder{
    color: black;
}

#toolbar {
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem;
}

#toolbar h4 {
    margin: 0.5rem 0;
}

#search {
    display: flex;
    flex-direction: column;
}

#search div{
    display: flex;
}

#search input {
    padding: .5rem;
    margin-right: .3rem;
}

#filter {
    display: flex;
    flex-direction: column;
}

#filter select {
    padding: .5rem;
}

#todo-list {
    border-top: 1px solid #ddd;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}

.todo h3 {
    flex: 1;
}

.todo button {
    margin-left: .3rem;
}

.done {
    background-color: rgba(128, 128, 128, 0.4);
}

.done h3 {
    text-decoration: line-through;
    font-style: italic;
}

.hide {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #ddd;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .todo-container {
        border: 1px solid black;
        margin: 3rem;
        background-color: white;
        border-radius: 0;
        font-size: 1.2rem;
    }

    header {
        font-size: 1.5rem;
    }

    #toolbar {
        display: flex;
        flex-direction: column;
    }

    #form-control,
    #search-input {
        width: 100%;
    }

}